<?xml version ="1.0" encoding = "UTF-8"?>

<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find balancing_robot)/world/midterm2022.world"/>
    </include>

    <param name = "robot_description" command = "cat '$(find balancing_robot)/urdf/two_wheel_robot.urdf'" />
    <node name ="urdf_spawner" pkg ="gazebo_ros" type ="spawn_model" respawn ="false" output ="screen" args ="-urdf -x 0.0 -y 0.0 -z 0.11 -model balancing_robot -param robot_description" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find balancing_robot)/config/two_wheel_control.yaml" command="load"/>
    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/two_wheel_robot" args="left_wheel_effort_controller right_wheel_effort_controller joint_state_controller"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/two_wheel_robot/joint_states" />
    </node>
</launch>
