<?xml version="1.0" ?>
<robot name="cube">
    <link name="base_link">
    <inertial>
      <mass value="5"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.05208" ixy="0.0" ixz="0.0" iyy="0.05208" iyz="0.0" izz="0.05208"/>
    </inertial>
    
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0 0.0"/>
      <geometry>
        <box size="0.25 0.25 0.25"/>
      </geometry>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0.0 0 0.0"/>
      <geometry>
        <box size="0.25 0.25 0.25"/>
      </geometry>
    </collision>

  </link>
 <gazebo reference="base_link">
    <collision name='base_link_collision'>
      <surface>
        <contact>
          <ode>
          <kp>5e+10</kp>
          <kd>0</kd>
          <max_vel>0</max_vel>
          </ode>
        </contact>
        <friction>
          <ode>
          <mu>0.2</mu>
          <mu2>0.2</mu2>
          <fdir1>1 0 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
 </gazebo>
</robot>