<?xml version="1.0" ?>
<!-- pi 3.14159265359 1.57079632679-->
<robot name="urdf_test">
  <joint name="fixed" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.0 "/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <joint name="first_joint" type="continuous">
    <origin rpy="0.7854 1.570796 0.7854" xyz="0.5 1 0.7 "/>
    <axis xyz="0 0 1"/>
    <parent link="base_link"/>
    <child link="link_1"/>
    <dynamics damping="0.0"/>
    <limit effort="10000" velocity="0"/>
  </joint>

  <joint name="second_joint" type="continuous">
    <origin rpy="0 1.5707963 0" xyz="0.5 0.3 0.1 "/>
    <axis xyz="0 0 1"/>
    <parent link="link_1"/>
    <child link="link_2"/>
    <!--dynamics damping="0.01"/-->
    <dynamics damping="0.00"/>
    <limit effort="10000" velocity="0"/>
  </joint>

  <joint name="third_joint" type="continuous">
    <origin rpy="0 0 0" xyz="0 0 0.2"/>
    <axis xyz="0 1 0"/>
    <parent link="link_2"/>
    <child link="link_box"/>
    <dynamics damping="0.0"/>
    <limit effort="1000.0" lower="0" upper="0.15" velocity="0.5"/>
  </joint>

  <link name="world">
  </link>
  <link name="base_link">
      <inertial>
      <mass value="5"/>
      <origin rpy="0 0 0" xyz="0.25 0.5 0.35"/>
      <inertia ixx="0.6208" ixy="0.0" ixz="0.0" iyy="0.30833" iyz="0.0" izz="0.5208"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0.25 0.5 0.35"/>
      <geometry>
        <box size="0.5 1 0.7"/>
      </geometry>
    </visual>
  </link>
  
  <link name="link_1">
    <inertial>
      <mass value="1"/>
      <origin rpy="0 0 0" xyz="0.25 0.25 0.15"/>
      <inertia ixx="0.028333" ixy="0.0" ixz="0.0" iyy="0.028333" iyz="0.0" izz="0.04167"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0.25 0.25 0.15"/>
      <geometry>
        <box size="0.5 0.5 0.3"/>
        <!-- <cylinder length="0.11" radius="0.5"/> -->
      </geometry>
    </visual>
  </link>

  <link name="link_2">
  </link>
  
  <link name="link_box">
  </link>
</robot>

<!-- roslaunch urdf_tutorial display.launch model:=`rospack find gazebo_friction_test`/urdf/crankshaft_nolink.urdf -->