<?xml version="1.0" ?>
<robot name="crankshaft">
  <joint name="fixed" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.0 "/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <joint name="first_joint" type="continuous">
    <origin rpy="0.7854 1.570796 0.7854" xyz="0.5 1 0.7 "/>
    <axis xyz="0 0 1"/>
    <parent link="base_link"/>
    <child link="link_1"/>
    <!--dynamics damping="0.01"/-->
    <dynamics damping="0.0"/>
    <limit effort="10000" velocity="0"/>
  </joint>
<!-- pi 3.14159265359 1.57079632679-->

  <joint name="second_joint" type="continuous">
    <origin rpy="0 1.5707963 0" xyz="0.5 0.3 0.1 "/>
    <axis xyz="0 0 1"/>
    <parent link="link_1"/>
    <child link="link_2"/>
    <!--dynamics damping="0.01"/-->
    <dynamics damping="0.00"/>
    <limit effort="10000" velocity="0"/>
  </joint>

  <joint name="third_joint" type="prismatic">
    <origin rpy="-1.570796 0 0" xyz="0 0.4 0"/>
    <axis xyz="0 0 1"/>
    <parent link="link_2"/>
    <child link="link_3"/>
    <!--dynamics damping="0.01"/-->
    <dynamics damping="0.0"/>
    <!-- <limit effort="10000" velocity="0"/> -->
    <limit effort="1000.0" lower="0" upper="0.15" velocity="0.5"/>
  </joint>

  <!-- <joint name="shaft_joint" type="prismatic">
    <origin rpy="0 0 0" xyz="0 0 0.25"/>
    <axis xyz="0 1 0"/>
    <parent link="link_box"/>
    <child link="ground"/>
    <dynamics damping="0.01"/>
    <dynamics damping="0.00"/>
    <limit effort="10000" velocity="0"/>
  </joint> -->
  
  <link name="world"/>
  <!-- <link name="ground">
    <inertial>
      <mass value="1"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0.0 0 0"/>
      <geometry>
        <box size="1 1 0.1"/>
      </geometry>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0.0 0 0"/>
      <geometry>
        <box size="1 1 0.1"/>
      </geometry>

    </collision>
  </link> -->

  <link name="base_link">
    <inertial>
      <mass value="5"/>
      <origin rpy="0 0 0" xyz="0.25 0.5 0.35"/>
      <inertia ixx="0.6208" ixy="0.0" ixz="0.0" iyy="0.30833" iyz="0.0" izz="0.5208"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0.25 0.5 0.35"/>
      <geometry>
        <box size="0.5 1 0.7"/>
      </geometry>
    </visual>

  </link>
  
  <link name="link_1">
    <inertial>
      <mass value="1"/>
      <origin rpy="0 0 0" xyz="0.25 0.25 0.15"/>
      <inertia ixx="0.028333" ixy="0.0" ixz="0.0" iyy="0.028333" iyz="0.0" izz="0.04167"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0.25 0.25 0.15"/>
      <geometry>
        <box size="0.5 0.5 0.3"/>
        <!-- <cylinder length="0.11" radius="0.5"/> -->
      </geometry>
    </visual>

  </link>

  <link name="link_2">
    <inertial>
      <mass value="1"/>
      <origin rpy="0 0 0" xyz="0.0 0.3 0.01"/>
      <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.3 0.01"/>
      <geometry>
        <box size="0.1 0.6 0.02"/>
      </geometry>
    </visual>
  </link>
  
  <link name="link_3">
    <inertial>
      <mass value="1"/>
      <origin rpy="0 0 0" xyz="0.0 0.01 0.2"/>
      <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.01 0.2"/>
      <geometry>
        <box size="0.1 0.02 0.4"/>
      </geometry>
    </visual>
    <!-- <inertial>
      <mass value="1"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.27083333333" ixy="0.0" ixz="0.0" iyy="0.27083333333" iyz="0.0" izz="0.27083333333"/>
    </inertial>
    
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0 0"/>
      <geometry>
        <box size="1.5 0.5 1.0"/>
      </geometry>
    </visual> -->
  </link>
 <gazebo reference="ground">
   <material>Gazebo/Black</material>
 </gazebo>
 <gazebo reference="link_1">
   <material>Gazebo/Green</material>
 </gazebo>
 <gazebo reference="link_2">
   <material>Gazebo/Blue</material>
 </gazebo>
 <gazebo reference="link_box">
   <material>Gazebo/Red</material>
 </gazebo>
 <gazebo reference="ground">
    <collision name='ground_collision'>
      <surface>
        <contact>
          <ode>
          <kp>5e+10</kp>
          <kd>0</kd>
          <max_vel>0</max_vel>
          </ode>
        </contact>
        <friction>
          <ode>
          <mu>0</mu>
          <mu2>0</mu2>
          <fdir1>1 0 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
 </gazebo>
</robot>

<!-- roslaunch urdf_tutorial display.launch model:=`rospack find gazebo_friction_test`/urdf/test1.urdf -->